:root {
    /* COLORS */
    --body-gradient: linear-gradient(
                        to bottom right,
                        rgba(0, 191, 255, 0.442) 0%,    /* голубой */
                        rgba(76, 123, 226, 0.426) 10%,   /* переход голубой→фиолет */
                        rgba(137, 43, 226, 0.439) 25%,   /* фиолетовый */
                        rgba(200, 76, 192, 0.416) 45%,   /* переход фиолет→розовый */
                        rgba(255, 105, 180, 0.427) 55%,   /* розовый */
                        rgba(255, 184, 77, 0.474) 70%,   /* переход розовый→жёлтый */
                        rgba(255, 217, 0, 0.425) 85%,   /* жёлтый */
                        rgba(153, 205, 50, 0.443) 95%,   /* переход жёлтый→зелёный */
                        rgba(50, 205, 50, 0.449) 100%   /* зелёный */
                        );
    --main-bg-color: rgba(248, 250, 252, 0.605);
    --content-color: #F8FAFC;
    --border-color: #E2E8F0;

    --text-main-color: #1E293B;
    --text-secondary-color: #475569;


    --placeholder-color: #9CA3AF;
    --notify-bg-color: #FFF7ED;

    --accent-color: #b23bf6;
    --accent-hover-color: #7b3bf6;
    
    --success-color: #10B981;
    --error-color: #EF4444;

    /* FONTS */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --font-size: 14px;
    --font-height: 1.2;

    /* CONTAINER */
    --container-width: 1200px;
    --container-padding: 20px;

    /* BORDER RADIUS */
    --border-radius: 10px;

    /* SHADOWS */
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);

    /* TRANSITIONS */
    --transition: all .2s ease-in-out;

    /* SEARCH HIGHLIGHT */
    --highlight-bg: #fef08a;
    --highlight-color: #854d0e;
    --highlight-animation-from: #facc15;
    
    --accent-color-light: rgba(99, 102, 241, 0.2);
    --accent-color-dark: #4338ca;
    --success-color-light: rgba(34, 197, 94, 0.2);
    --success-color-dark: #15803d;
}