:root {
    /* COLORS */
    --body-color: #F8FAFC;
    --border-color: #E2E8F0;

    --text-main-color: #1E293B;
    --text-secondary-color: #475569;

    --input-bg-color: #F1F5F9;
    --notify-bg-color: #FFF7ED;

    --accent-color: #3B82F6;
    --accent-hover-color: #2563EB;
    
    --success-color: #10B981;
    --error-color: #EF4444;

    /* FONTS */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --font-size: 14px;
    --font-height: 1.2;

    /* CONTAINER */
    --container-width: 1200px;
    --container-padding: 20px;

    /* BORDER RADIUS */
    --border-radius: 10px;

    /* SHADOWS */
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);

    /* TRANSITIONS */
    --transition: all .2s ease-in-out;
}